<% include ../partials/header.html %>
<style>
    .custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden {
        display: none;
    }
    tr:nth-child(even) {background: #4B5058;color:#fff}
</style>

<!-- Ignite UI Required Combined CSS Files -->
<!-- <link href="https://cdn-na.infragistics.com/igniteui/2016.2/latest/css/themes/infragistics/infragistics.theme.css"
    rel="stylesheet" />
<link href="https://cdn-na.infragistics.com/igniteui/2016.2/latest/css/structure/infragistics.css" rel="stylesheet" /> -->

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">
            <div id="sample_div" class="row">
                <div class="col-md-12">
                    <div class="">           
                <table id="harexldata_table" class="table mb-0">
                    <thead class="thead-light">
                        <tr>
                          
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>ProgramName</th>
                            <th>ProgramFileName</th>
                            <th>Fillers </th>
                           
                        </tr>
                    </thead>
                    <tbody id="harexldata_tbody">
                    </tbody>
                </table>

                    </div>
            </div>
            </div>
        </div>
        <!-- container-fluid -->
        <% include ../partials/footer.html %>

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->

<script src="../../custom/js/user_management/userHarekrishna.js"></script>


</body>

</html>