<% include ../partials/header.html %>
<style>

.custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden{

        display: none;
    }

  

</style>

 <!-- Ignite UI Required Combined CSS Files -->
 <link href="https://cdn-na.infragistics.com/igniteui/2016.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
 <link href="https://cdn-na.infragistics.com/igniteui/2016.2/latest/css/structure/infragistics.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">
          
            <div>
                <ol>
                  
                    <li>Click Choose File/Browse button below and pick the sample Excel file or another excel file.</li>
                </ol>
                <input type="file" id="input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <div class="mt-3"  id="result"></div>
                <table id="grid1"></table>

                <div class="row mt-3">
               
                    <div class="col-md-2">
                        <button class="btn btn-info waves-effect waves-light btn-sm"
                        type="submit"> <i class="mdi mdi-check-decagram"></i> <span>Accept</span>
                    </button>
                      </div>

                </div>
               
               
            </div>
            
             
            <div id="" class="row">

              


                <div class="col-md-12">
                 
                        <div id="filedata" class="row">

                           
                            
                        </div>
                   
                   
                       


                </div>


            </div>


            <div id="tableDiv2" class="row display-hidden">




                <div class="col-md-12">
                 
                        <div class="row">
                            <div class="col-md-12">
                               
                                   
                                    <table  class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                       
                                       
                                        </tbody>
                                    </table>
                                
                            </div>
                        </div>
                   
                   


                </div>


            </div>

        </div>

      
        
        <!-- container-fluid -->


      

        <% include ../partials/footer.html %>

    </div>


  


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/user_management/user.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>

<script>

    $(function () {
        $("#input").on("change", function () {
            var excelFile,
                fileReader = new FileReader();

            $("#result").hide();

            fileReader.onload = function (e) {
                var buffer = new Uint8Array(fileReader.result);

                $.ig.excel.Workbook.load(buffer, function (workbook) {
                    var column, row, newRow, cellValue, columnIndex, i,
                        worksheet = workbook.worksheets(0),
                        columnsNumber = 0,
                        gridColumns = [],
                        data = [],
                        worksheetRowsCount;

                    // Both the columns and rows in the worksheet are lazily created and because of this most of the time worksheet.columns().count() will return 0
                    // So to get the number of columns we read the values in the first row and count. When value is null we stop counting columns:
                    while (worksheet.rows(0).getCellValue(columnsNumber)) {
                        columnsNumber++;
                    }

                    // Iterating through cells in first row and use the cell text as key and header text for the grid columns
                    for (columnIndex = 0; columnIndex < columnsNumber; columnIndex++) {
                        column = worksheet.rows(0).getCellText(columnIndex);
                        gridColumns.push({ headerText: column, key: column });
                    }

                    // We start iterating from 1, because we already read the first row to build the gridColumns array above
                    // We use each cell value and add it to json array, which will be used as dataSource for the grid
                    for (i = 1, worksheetRowsCount = worksheet.rows().count() ; i < worksheetRowsCount; i++) {
                        newRow = {};
                        row = worksheet.rows(i);

                        for (columnIndex = 0; columnIndex < columnsNumber; columnIndex++) {
                            cellValue = row.getCellText(columnIndex);
                            newRow[gridColumns[columnIndex].key] = cellValue;
                        }

                        data.push(newRow);
                    }

                    // we can also skip passing the gridColumns use autoGenerateColumns = true, or modify the gridColumns array
                    createGrid(data, gridColumns);
                }, function (error) {
                    $("#result").text("The excel file is corrupted.");
                    $("#result").show(1000);
                });
            }

            if (this.files.length > 0) {
                excelFile = this.files[0];
                if (excelFile.type === "application/vnd.ms-excel" || excelFile.type === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || (excelFile.type === "" && (excelFile.name.endsWith("xls") || excelFile.name.endsWith("xlsx")))) {
                    fileReader.readAsArrayBuffer(excelFile);
                } else {
                    $("#result").text("The format of the file you have selected is not supported. Please select a valid Excel file ('.xls, *.xlsx').");
                    $("#result").show(1000);
                }
            }

        })
    });

    function createGrid(data, gridColumns) {
        if ($("#grid1").data("igGrid") !== undefined) {
           $("#grid1").igGrid("destroy");
           
        }

     

        $("#grid1").igGrid({
            columns: gridColumns,
            autoGenerateColumns: true,
            dataSource: data,
            width: "100%"
        });
    }
</script>

</body>

</html>